#chatBox {
  font-size: 15px;
}

/* incoming / outgoing message look */
.msg {
  max-width: 70%;
  padding: 0.55rem 0.8rem;
  border-radius: 0.8rem;
  margin-bottom: 0.4rem;
}

.me {
  background: #0d6efd;
  color: #fff;
  margin-left: auto;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 1rem;
  width: fit-content;
  min-width: 15%;
}

.other {
  background: #e9ecef;
  color: #111;
  margin-right: auto;
}
